@model VemCaProfWeb.Models.DisciplinaModel

@{
    ViewData["Title"] = "Editar Disciplina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>
<h4>Disciplina: @Model.Nome</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="card mb-3 border-warning">
                <div class="card-body">

                    <div class="form-group mb-3">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Descricao" class="control-label"></label>
                        <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Nivel" class="control-label fw-bold mb-2">Nível de Ensino</label>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Nivel" value="F1" id="NivelF1">
                            <label class="form-check-label" for="NivelF1">
                                Ensino Fundamental Menor (1º ao 5º ano)
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Nivel" value="F2" id="NivelF2">
                            <label class="form-check-label" for="NivelF2">
                                Ensino Fundamental Maior (6º ao 9º ano)
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="Nivel" value="M1" id="NivelM1">
                            <label class="form-check-label" for="NivelM1">
                                Ensino Médio
                            </label>
                        </div>

                        <span asp-validation-for="Nivel" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Salvar Alterações" class="btn btn-warning btn-lg" />
                <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar para Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}