@model VemCaProfWeb.Models.DisponibilidadeHorarioModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" href="~/css/cidade.css" />
}

<h1>Editar</h1>

<h4>Horário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Dia" class="control-label"></label>
                <input asp-for="Dia" class="form-control" />
                <span asp-validation-for="Dia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioInicio" class="control-label"></label>
                <input asp-for="HorarioInicio" class="form-control" />
                <span asp-validation-for="HorarioInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioFim" class="control-label"></label>
                <input asp-for="HorarioFim" class="form-control" />
                <span asp-validation-for="HorarioFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfessor" class="control-label"></label>
                <input asp-for="IdProfessor" class="form-control" />
                <span asp-validation-for="IdProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index">Voltar para lista</a>

            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


