@model VemCaProfWeb.Models.DisponibilidadeHorarioModel

@{
    ViewData["Title"] = "Editar";
}


@section Styles {
    <link rel="stylesheet" href="~/css/cidade.css" />
}

<h1>Editar</h1>

<h4>Horário</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="HorarioInicio" class="control-label"></label>
                <input asp-for="HorarioInicio" type="time" class="form-control" />
                <span asp-validation-for="HorarioInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioFim" class="control-label"></label>
                <input asp-for="HorarioFim" type="time" class="form-control" value="@Model.HorarioFim.ToString(@"hh\:mm")" />
                <span asp-validation-for="HorarioFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProfessor" class="control-label"></label>
                <select asp-for="IdProfessor" asp-items="ViewBag.Professores" class="form-select">
                    <option value="">Selecione um professor</option>
                </select>
                <span asp-validation-for="IdProfessor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
