@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusClass = Model.StartsWith("Error") ? "identity-alert-danger" : "identity-alert-success";
    <div class="identity-alert @statusClass">
        <i class="bi @(Model.StartsWith("Error") ? "bi-exclamation-circle-fill" : "bi-check-circle-fill")"></i>
        <span>@Model</span>
    </div>
}
